<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/simpletabs.css"/>
    <script type="text/javascript" src="js/simpletabs_1.3.js"></script>
    <script type="text/javascript">
function toggle(el) {
    if (el.innerHTML === "-") {
        el.parentElement.style.width="20";
        el.innerHTML="+";
    } else {
        el.parentElement.style.width="auto";
        el.innerHTML="-";
    }
}
    </script>
</head>
<body>

<div class="simpleTabs">
