<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="screen">
$vcsorm_simpletabs_css_content
$vcsorm_css_content
    </style>
    <script type="text/javascript">
$vcsorm_simpletabs_js_content
    </script>
    <script type="text/javascript">
function toggle(el) {
    if (el.innerHTML === "-") {
        el.parentElement.style.width="20";
        el.parentElement.style.overflowY="hidden";
        el.innerHTML="+";
    } else {
        el.parentElement.style.width="auto";
        el.parentElement.style.overflowY="scroll";
        el.innerHTML="-";
    }
}
    </script>
</head>
<body>

<div class="simpleTabs">
